KUBECONFIG_PATH=/Users/laurkankushu/IdeaProjects/yandex_helm_app/jenkins/jenkins_kubeconfig.yaml

# креды для docker hub
DOCKER_HUB_USERNAME=
DOCKER_HUB_PASSWORD=

# имя пользователя GitHub
GITHUB_USERNAME=

# токен для GitHub
GITHUB_TOKEN=

# репозиторий
GITHUB_REPOSITORY=

# Docker Registry
DOCKER_REGISTRY=

# пароль к базе данных
DB_PASSWORD=

#keycloak client secrets
KEYCLOAK_ACCOUNTS_SECRET=9V0lSamz0dVGYuxKi42WU7gQ3hXldNJO
KEYCLOAK_BLOCKER_SECRET=I6Gobzmfh9FbQNVoNEie3OzOQxkKaGzz
KEYCLOAK_EXCHANGE_SECRET=P4AiwGQxjtmfEI6QEUMwSZXEM9F1xSjq
KEYCLOAK_NOTIFICATIONS_SECRET=SZjkXSrATtJARcDyBiUzZ5uaFOcuwvUt
KEYCLOAK_CASH_SECRET=ernnQeq5eusXTZmhmNKHT8g3B7Dndmrn
KEYCLOAK_TRANSFER_SECRET=eaUEsRwTCLEi6C8fuoF9GCN5JTvGBYMq